<launch>


  <!-- TWIST MUX -->
  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find rosmower)/conf/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="hoverboard_velocity_controller/cmd_vel"/>
  </node>

  <!-- Base controller -->
  <include file="$(find ros_hovermower_base_controller)/launch/base_controller.launch"/>

  <node name="rosmower" pkg="rosmower" type="rosmower" output="screen" />
</launch>
