<launch>

  
 <remap from="/cmd_vel" to="/nav_cmd_vel"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find rosmower)/conf/navigation/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find rosmower)/conf/navigation/costmap_common_params.yaml" command="load" ns="local_costmap" />
    
    <rosparam file="$(find rosmower)/conf/navigation/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find rosmower)/conf/navigation/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find rosmower)/conf/navigation/base_local_planner_params.yaml" command="load" /> 
   
  </node>

</launch>