<launch>
    <!-- 
          NOTICE: Installation of rtabmap is required for using this launch file:
                  For installation type:
                        apt-get install ros-kinetic-rtabmap-ros
    -->
    <arg name="device_type_camera"    		default="d4.5"/>	<!-- Note: using regular expression. match D435, D435i, D415... -->
    <arg name="serial_no_camera"    			default=""/>
    <arg name="camera"              			default="camera"/>		<!-- Note: Replace with camera name -->
    <arg name="use_rviz"                  default="true"/>
    <arg name="use_rtabmapviz"            default="false"/>
  <arg name="clip_distance"             default="-2"/>
    
  <include file="$(find rosmower)/launch/ekf_pose.launch">
  </include>

    <include file="$(find rosmower)/launch/rs_d400.launch">
            <arg name="device_type_camera"             value="$(arg device_type_camera)"/>
            <arg name="serial_no_camera"               value="$(arg serial_no_camera)"/>
            <arg name="camera"                         value="$(arg camera)"/>
            <arg name="clip_distance"                   value="$(arg clip_distance)"/>
            
    </include>

    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
            <arg name="rtabmap_args"       value="--delete_db_on_start"/>
            <arg name="depth_topic"        value="/$(arg camera)/aligned_depth_to_color/image_raw"/>
<!--            <arg name="frame_id"           value="$(arg camera)_link"/> -->
            <arg name="frame_id"           value="base_link"/>
            <arg name="visual_odometry"    value="false"/>
            <arg name="odom_topic"         value="/odom"/>
            <arg name="odom_frame_id"      value="odom" />
            <arg name="subscribe_scan"     value="true" />
            
            <arg name="rgb_topic"          value="/$(arg camera)/color/image_raw"/>
            <arg name="camera_info_topic"  value="/$(arg camera)/color/camera_info"/> 
            <arg name="left_image_topic"   value="/$(arg camera)/infra1/image_rect_raw" />
  <!-- Outdoor stereo, needs a calibrated camera but might work better
   <arg name="right_image_topic" value="/$(arg camera)/infra2/image_rect_raw" />
   <arg name="left_camera_info_topic" value="/$(arg camera)/infra1/camera_info" />
   <arg name="right_camera_info_topic" value="/$(arg camera)/infra2/camera_info" />
   <arg name="stereo" value="true" />
   -->
            <arg name="approx_sync"        value="true" />
            <arg name="queue_size"         value="200"/>
            <arg name="rviz"               value="$(arg use_rviz)"/>
            <arg name="rtabmapviz"         value="$(arg use_rtabmapviz)"/>

    </include>

<!-- ROS Bridge for webViz-->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
       <arg name="port" value="8080"/>
    </include>
</launch>
