<launch>
  <!-- Model and state publisher -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder $(find rosmower)/urdf/rosmower.xacro" />


  <!-- hoverboard diffbot controller -->

  <!-- PS4 joypad  -->
  <include file="$(find ds4_driver)/launch/ds4_twist.launch">
    <arg name="dof" value="2" />
    <arg name="topic" value="joy_vel" />

  </include>

  <!-- Lidar -->
  <remap from="/LiDAR/LD06" to="scan" />
  <include file="$(find ldlidar)/launch/ld06.launch">
  </include>

  <!-- TWIST MUX -->
  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <param from="$(find rosmower)/conf/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="hoverboard_velocity_controller/cmd_vel" />
  </node>

  <!-- Base controller -->
  <include file="$(find ros_hovermower_base_controller)/launch/base_controller.launch">
    <arg name="device_port" value="$(env ROSMower_USB)" />
  </include>

  <!-- ROSMower Safety Controller-->
  <node name="rosmower" pkg="rosmower" type="rosmower">
    <param from="$(find rosmower)/conf/safety_controller.yaml" />
  </node>

  <!-- ROS Bridge for webViz-->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="8080" />
  </include>
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher"
    output="screen" />
</launch>